VITE_TMDB_API_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
VITE_TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxYjdmNjE3NzI5NDJjMDcwNDRkZDQ5YTQwYmZlMjI1MCIsIm5iZiI6MTc3NjY5MTc5NC43Mjg5OTk5LCJzdWIiOiI2OWU2MmE1MjUxMTI3ZDE4ODY2OTMwZTMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.n1UPRlu9NOXJ-p-ZVbD93WU_QiDU8k8vaJv2Bqrlbu4
VITE_TMDB_LANGUAGE=pt-BR
VITE_TMDB_REGION=BR
